<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>fill out the details</p><br>
    <form  action="/additem" method="post" >
        <label>Name of product</label>
        <input type="text" name="pname" id="form3Example3" class="form-control" />
        <br>
        <label>quantity</label>
        <input type="number" name="quantity" id="form3Example3" class="form-control" />
        <br>
        <label>type</label>
        <input type="text" name="ptype" id="form3Example3" class="form-control" />
        <br>
        <label>description</label>
        <input type="text" name="desc_type" id="form3Example3" class="form-control" />
        <br>
        <label>category id</label>
        <input type="number" name="cat_id" id="form3Example3" class="form-control" />
        <br>
        <label>price</label>
        <input type="number" name="price" id="form3Example3" class="form-control" />
        <br>
        <label>date of manufacturing</label>
        <input type="datetime-local" name="desc_DOM" id="form3Example3" class="form-control" />
        <br>
        <label>Retailer ID</label>
        <input type="number" name="R_id" id="form3Example3" class="form-control" />
        <br>
        <button type="submit">add to cart</button>
    </form>
    <a href="/home">return to home?</a>
    <script>

    </script>
</body>

</html>